*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: white;

}

body{
   background-color: black;
   
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    

    background-image: url(https://st.depositphotos.com/1086305/4134/i/600/depositphotos_41342093-stock-photo-red-wood-background.jpg);
    

}



.form{
    
    border: 5px solid rgba(0, 0, 0, 0.3);
    display: inline-block;
    float: left;
    width: 30%;
    padding-top: 100px;
    padding-bottom: 108px;
    margin-top: 10%;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.2);
    border-radius: 5%;
    margin-left: 10%;
    position: relative;
    top: -30px;
    

   

    
}

h2{
    margin-left: 12%;
    
    padding-bottom: 30px;
}


.name i{
    position: relative;
    left: 14%;
    color: white;
}

.name input{
    background: rgba(255, 255, 255, 0.2);
    padding: 9px 40px 9px 22px;
    margin-bottom: 20px;
    margin-left: 6%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    
    

}



.lock i{
    position: relative;
    left: 14%;
    color: white;
}

.lock input{
    
    background: rgba(255, 255, 255, 0.2);
    padding: 9px 40px 9px 22px;
    margin-bottom: 20px;
    margin-left: 6%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    
   
}

input::placeholder{
    color: white;
}




span{
    font-size: 14px;

}

input[type="checkbox"]{
    width: 15px;
    height: 15px;
  
    
}

.chck{
    display: block;
    margin-bottom: 20px;
    margin-left: 12%;
}

.button{
    margin-left: 12%;
    
}

input[type="submit"]{
    padding:10px 15px;
    color: black;
    font-weight: bolder;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    margin-left: 12%;
}

input[type="submit"]:hover{
    background-color: black;
    color: red;
}


p{
    font-size: 14px;
    margin-bottom: 10px;
    margin-left: 12%;
}

p a:hover{
    color: blue;
}

.welcome{

    float: left;
    width: 40%;
    background-color: brown;
    background-image: url(https://i.pinimg.com/736x/7f/20/f0/7f20f022b2a369e2a147a089bb637688.jpg);
    text-align: center;
    padding: 15% 2%;
    margin-right: 10%;
    margin-top: 7%;
    border-radius: 10px;
    background-position: right;
    margin-left: 5%;
}
button{
    display: block;
    padding: 15px 30px;
    background-color: red;
   
    border: none;
    box-shadow: ;
    box-shadow: 5px 5px 35px rgba(0, 0, 0, 0.99);
    
    margin-top: 100px;
    margin-left: 29%;
    
}

button:hover{
    background-color: black;
    color: red;
}
.text{
    width: 70%;
    margin: 0 auto;
}


